<!--div class="grid-row">
    <div class="grid-cell1 dashboard-color-header1 ">
        <span class="grid-header">Top Ten Overall Performers</span>
    </div>
    <div class="grid-col-separator"></div>
    <div class="grid-cell2 dashboard-color-header2 ">
        <span class="grid-header">Position</span>
    </div>
    <div class="grid-col-separator"></div>
    <div class="grid-cell3 dashboard-color-header3 ">
        <span class="grid-header">Last Game</span>
    </div>
    <div class="grid-col-separator"></div>
    <div class="grid-cell4 dashboard-color-header4 ">
        <span class="grid-header">Season Avg</span>
    </div>
</div-->
{{!--
<table class="table top10">
    <thead>
    <tr>
        <th class="th1">Top Ten Overall Performers</th>
        <th class="th2">Position</th>
        <th class="th3">Last Game</th>
        <th class="th4">Season Avg</th>
    </tr>
    </thead>
    <tbody>
    {{#each item in filteredContent itemController='dashboard/filteredContentItem'}}
        {{#link-to "player" item tagName="tr"}}
            <td class="td1">{{item.index}}) {{#link-to "player" item}}{{item.shortNameInitialLast}}{{/link-to}}</td>
            <!--td>#{{item.jerseyNumber}}</td-->
            <td class="td2">{{item.position}}</td>
            <td class="td3"><div class="table-div">{{item.lastGameAvgGrade}}<span class="table-badge">{{item.lastGameNumPlays}}</span></div></td>
            <td class="td4"><div class="table-div">{{item.seasonAvgGrade}}<span class="table-badge">{{item.seasonNumPlays}}</span></div></td>
        {{/link-to}}
    {{else}}
        <tr>
            <td>no players...</td>
        </tr>
    {{/each}}
    </tbody>
</table>
--}}

{{!--
<section>
        <span>id,</span>
        <span>player,</span>
        <span>fullName</span>
        <span>class</span>
        <span>season,</span>
        <span>numPlays,</span>
        <span>numGames,</span>
        <span>bonusGrade,</span>
        <span>unitImpactGrade,</span>
        <span>mainCat1Grade,</span>
        <span>mainCat2Grade,</span>
        <span>mainCat3Grade,</span>
        <span>overallGrade</span>

    <br>
    {{#each item in controller}}
            <span>{{item.id}},</span>
            <span>{{item.id}},</span>
            <span>{{item.fullName}},</span>
            <span>{{item.classYear}},</span>
            <span>2014,</span>
            <span>{{item.seasonNumPlays}},</span>
            <span>{{item.seasonNumGames}},</span>
            <span>{{item.seasonAvgBonusGrade}},</span>
            <span>{{item.seasonAvgUnitImpactGrade}},</span>
            <span>{{item.seasonAvgCat1Grade}},</span>
            <span>{{item.seasonAvgCat2Grade}},</span>
            <span>{{item.seasonAvgCat3Grade}},</span>
            <span>{{item.seasonAvgGrade}}</span>
        <br>
    {{/each}}
</section>
--}}
{{!--
<section>
    <h2>seasonTopPerformers</h2>
    <span>player,</span>
    <span>season,</span>
    <span>numPlays,</span>
    <span>numGames,</span>
    <span>mainCat1Grade,</span>
    <span>mainCat2Grade,</span>
    <span>mainCat3Grade,</span>
    <span>overallGrade</span>

    <br>
    {{#each item in seasonTop10Performers}}
        <span>{{item.player.fullName}},</span>
        <span>{{item.player.shortNameInitialLast}},</span>
        <span>{{item.season}},</span>
        <span>{{item.numPlays}},</span>
        <span>{{item.numGames}},</span>
        <span>{{item.mainCat1Grade}},</span>
        <span>{{item.mainCat2Grade}},</span>
        <span>{{item.mainCat3Grade}},</span>
        <span>{{item.overallGrade}}</span>
        <br>
    {{/each}}
</section>
--}}

<table class="table top10">
    <thead>
    <tr>
        <th class="th1">Top Ten Overall Performers</th>
        <th class="th2">Position</th>
        <th class="th3">Last Game</th>
        <th class="th4">Season Avg</th>
    </tr>
    </thead>
    <tbody>
    {{#each item in seasonTop10Performers itemController='dashboard/topItem'}}
        {{#link-to "player" item.player tagName="tr"}}
            <td class="td1"><div class="table-div">{{item.index}}) {{#link-to "player" item.player}}{{item.player.shortNameInitialLast}}<span class="table-jersey-badge">{{item.player.jerseyNumber}}</span>{{/link-to}}</div></td>

            <td class="td2">{{item.player.position}}</td>
            <td class="td3"><div class="table-div">{{item.player.lastGameAvgGrade}}%<span class="table-badge">{{item.player.lastGameNumPlays}}</span></div></td>
            <td class="td4"><div class="table-div">{{item.overallGrade}}%<span class="table-badge">{{item.numPlays}}</span></div></td>
        {{/link-to}}
    {{else}}
        <tr>
            <td>no players...</td>
        </tr>
    {{/each}}
    </tbody>
</table>
