{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}
<div class="navbar navbar-button-row">
    <div class="container-fluid block-grid-row block-color-header">
        {{#header-button class='navbar-btn btn-narrow navbar-left' action="goBack"}}◀︎{{/header-button}}
        <span class="navbar-text">{{caption}} - Overall</span>
        <div class="pull-right" role="group" aria-label="Toolbar">
            {{#header-button action="createGame"}}rank players{{/header-button}}
            {{#header-button action="createGame"}}group by position{{/header-button}}
        </div>
    </div>
</div>

<div class='container-fluid container-button-row dashboard'>
    <table class="table table-hover xtop5">
        <thead>
        <tr>
            <th class="th1">Player</th>
            <th class="th2">Gr / Gm</th>
        </tr>
        </thead>
        <tbody>
        {{#each allPlayer in allPlayers}}
            {{#link-to "player"  allPlayer.player tagName="tr"}}
                <td class="td1">
                    {{#link-to "player" allPlayer.player}}
                        {{allPlayer.player.shortNameInitialLast}} / {{allPlayer.player.position}} / {{allPlayer.player.classYr}}
                    {{/link-to}}
                </td>
                <td class="td2">
                    {{allPlayer.overallGrade}}% / {{allPlayer.numGames}}
                </td>
            {{/link-to}}
        {{else}}
            <tr>
                <td>no players...</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>




