<div class="dashboard-top5-panel">
    <div>
    {{#link-to linkToUrl}}
        <span style="display: inline-block;">{{caption}}</span>
        <span style="display: inline-block;float:right;xmargin-right:-10px;">►</span>
    {{/link-to}}
    </div>
<table class="table table-hover top5">
    <thead>
    <tr>
        <th class="th1">Player</th>
        <th class="th2">Gr / Gm</th>
    </tr>
    </thead>
    <tbody>
    {{#each top5Players}}
        {{#link-to "player"  player tagName="tr"}}
            <td class="td1">
                {{#link-to "player" player}}
                    {{player.shortNameInitialLast}} / {{player.position}} / {{player.classYr}}
                {{/link-to}}
            </td>
            <td class="td2">
                {{overallGrade}}% / {{numGames}}
            </td>
        {{/link-to}}
    {{else}}
        <tr>
            <td>no players...</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>
