{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}

{{! this page uses a button row in the navbar. modify container with navbar-button-row for proper button spacing}}
<div class='container-fluid dashboard'>
    <div class="section-nav">
        {{#link-to 'players'}}players{{/link-to}}
        {{#link-to 'games'}}games{{/link-to}}
        {{#link-to 'reports'}}reports{{/link-to}}
        {{#link-to 'admin'}}admin{{/link-to}}
    </div>
    <div class="section-main">
        {{outlet}}
    </div>
    <div class="section-right">
        {{outlet top-new-players}}
        {{outlet best-unit-impact}}
        {{outlet veteran-watch-list}}
    </div>
</div>
<!--footer style="background:#DDD;">
    <p>application footer</p>
</footer-->
