{{render "header"}}
<div class='container-fluid dashboard'>
    <div class="section-nav">
        <div class="btn-group-vertical" role="group" aria-label="Dashboard menu">
            {{#menu-button action="toggleMenu" param="menuplayers" }}players{{/menu-button}}
            {{#menu-button action="toggleMenu" param="menugames"   }}games{{/menu-button}}
            {{#menu-button action="toggleMenu" param="menureports" }}reports{{/menu-button}}
            {{#menu-button action="toggleMenu" param="menuadmin"   }}admin{{/menu-button}}
        </div>
    </div>
    <div class="section-main">
        {{outlet}}
        <div {{bind-attr class=":gd-modal :btn-group-vertical menuVisible:visible"}} role="group" aria-label="Dashboard Sub Menu">
            {{outlet "menu"}}
        </div>
    </div>
    <div class="section-right">
        {{outlet "top-new-players"}}
        {{outlet "best-unit-impact"}}
        {{outlet "veteran-watch-list"}}
    </div>
</div>
