{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}

{{! this page uses a button row in the navbar. modify container with navbar-button-row for proper button spacing}}
<div class='container-fluid dashboard'>
    <div class="section-nav">
        <div class="btn-group-vertical" role="group" aria-label="Dashboard menu">
            {{#menu-button action="toggleMenu" param="players" }}players{{/menu-button}}
            {{#menu-button action="toggleMenu" param="games"   }}games{{/menu-button}}
            {{#menu-button action="toggleMenu" param="reports" }}reports{{/menu-button}}
            {{#menu-button action="toggleMenu" param="admin"   }}admin{{/menu-button}}
        </div>
    </div>
    <div class="section-main">
        {{outlet}}
        <div class="gd-modal btn-group-vertical" {{bind-attr class="menuVisible:visible"}} role="group" aria-label="Dashboard Sub Menu">
            {{outlet menu}}
        </div>
    </div>
    <div class="section-right">
        {{outlet top-new-players}}
        {{outlet best-unit-impact}}
        {{outlet veteran-watch-list}}
    </div>
</div>
<!--footer style="background:#DDD;">
    <p>application footer</p>
</footer-->
