{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}

{{! this page uses a button row in the navbar. modify container with navbar-button-row for proper button spacing}}
<div class='container-fluid dashboard'>
    <div class="section-nav">
        {{!--#link-to 'players'}}players{{/link-to}}
        {{#link-to 'games'}}games{{/link-to}}
        {{#link-to 'reports'}}reports{{/link-to}}
        {{#link-to 'admin'}}admin{{/link-to--}}
        <div class="btn-group-vertical" role="group" aria-label="Dashboard menu">
            <button type="button" class="btn btn-gd-menu btn-xl" {{action "toggleMenu"}}>players</button>
            <button type="button" class="btn btn-gd-menu btn-xl" {{action "toggleMenu"}}>games</button>
            <button type="button" class="btn btn-gd-menu btn-xl" {{action "toggleMenu"}}>reports</button>
            <button type="button" class="btn btn-gd-menu btn-xl" {{action "toggleMenu"}}>admin</button>
        </div>
    </div>
    <div class="section-main">
        {{outlet}}
        <div class="gd-modal btn-group-vertical" {{bind-attr class="menuVisible:visible"}} role="group" aria-label="Dashboard sub-menu">
            <button type="button" class="btn btn-gd-menu btn-xl" {{action "toggleMenu"}}>XLarge Button</button>
            <button type="button" class="btn btn-gd-menu btn-xl" {{action "toggleMenu"}}>Large Button</button>
            <button type="button" class="btn btn-gd-menu btn-xl" {{action "toggleMenu"}}>Button</button>
            <button type="button" class="btn btn-gd-menu btn-xl" {{action "toggleMenu"}}>Button</button>
        </div>
    </div>
    <div class="section-right">
        {{outlet top-new-players}}
        {{outlet best-unit-impact}}
        {{outlet veteran-watch-list}}
    </div>
</div>
<!--footer style="background:#DDD;">
    <p>application footer</p>
</footer-->
