{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}

<nav class="navbar xnavbar-inverse navbar-button-row" role="navigation">
    <div class="container-fluid block-color-header">
        <div>
            {{#header-button class='navbar-btn btn-narrow navbar-left' action="gamePreviousPlay"}}◀︎{{/header-button}}
            <p class="navbar-text">{{playNumber}}</p>
            {{#header-button class='navbar-btn btn-narrow navbar-left' action="gameNextPlay"}}►{{/header-button}}
        </div>
        <div class="navbar-text">
            <span class="block-line1e">
                Qtr:&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Dn:&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                To go:&nbsp;&nbsp;10
            </span>
            <span class="block-line1f"><b>Formation:</b> [field value]</span>
            <span class="block-line1f"><b>Backfield:</b> [field value]</span>
            <span class="block-line1f" {{bind-attr class="playChanged:block-yellow-hiliter"}}><b>Play:</b> [play call] {{playType}}</span>
        </div>
        <div class="navbar-text">
            <span class="block-line1e">
                PRIN <b>ball on</b> PRIN 22 LH
            </span>
            <span class="block-line1f"><b>Shift:</b> [shift on play]</span>
            <span class="block-line1f"><b>Motion:</b> [motion on play]</span>
            <span class="block-line1f"><b>Strength:</b> [play strength]</span>
        </div>
        <div class="navbar-text">
            <span class="block-line1f"><b>Front:</b> [front used]</span>
            <span class="block-line1f"><b>Stunt:</b> [stunt on play]</span>
            <span class="block-line1f"><b>Blitz:</b> [blitz on play]</span>
            <span class="block-line1f"><b>Cover:</b> [coverage]</span>
        </div>
        <div class="navbar-right">
            {{#header-button class='navbar-btn btn-narrow' action="gameChangePlayType"}}
                <span xclass="line1">change</span>
                <span xclass="line2">play type</span>
            {{/header-button}}
        </div>
        <div class="game-menu btn-group-vertical" {{bind-attr class="menuVisible:visible"}} role="group" aria-label="change play type menu">
            {{#menu-button action="gameChangePlayTo" param="kick" }}kick/punt{{/menu-button}}
            {{#menu-button action="gameChangePlayTo" param="penalty-no-play"   }}penalty - no play{{/menu-button}}
            {{#menu-button action="gameChangePlayTo" param="penalty-offense" }}penalty - offense{{/menu-button}}
            {{#menu-button action="gameChangePlayTo" param="penalty-defense"   }}penalty - defense{{/menu-button}}
        </div>
    </div>
</nav>


<div class='container-fluid container-button-row game' style="margin:10px;">
    <div class="row flex  row-separator">
        <div class="game-column game-header1">
            <span>Click players to select/change</span>
        </div>
        <div class="game-column game-header2">
            <span>Mental Grade</span>
        </div>
        <div class="game-column game-header3">
            <span>Technique Grade</span>
        </div>
        <div class="game-column game-header4">
            <span>Effort Grade</span>
        </div>
        <div class="game-column game-header5">
            <span>Click to set flag</span>
        </div>
    </div>
    <div class="row flex  row-separator">
        <div class="game-column game-column1">
            <span>QB</span>
            <span>Smith, J.</span>
            <span>4</span>
        </div>
        <div class="game-column game-column2">
            <span></span>
        </div>
        <div class="game-column game-column3">
            <span></span>
        </div>
        <div class="game-column game-column4">
            <span></span>
        </div>
        <div class="game-column game-column5">
            <span>point of attack</span>
        </div>
    </div>
    <div class="row flex  row-separator">
        <div class="game-column game-column1">
            <span>QB</span>
            <span>Podzuluzinski, J.</span>
            <span>12</span>
        </div>
        <div class="game-column game-column2">
            <span></span>
        </div>
        <div class="game-column game-column3">
            <span></span>
        </div>
        <div class="game-column game-column4">
            <span></span>
        </div>
        <div class="game-column game-column5">
            <span>point of attack</span>
        </div>
    </div>
    <div class="row flex  row-separator">
        <div class="game-column game-column1">
            <span>QB</span>
            <span>Podzuluzinski, J.</span>
            <span>12</span>
        </div>
        <div class="game-column game-column2">
            <span></span>
        </div>
        <div class="game-column game-column3">
            <span></span>
        </div>
        <div class="game-column game-column4">
            <span></span>
        </div>
        <div class="game-column game-column5">
            <span>point of attack</span>
        </div>
    </div>
    <div class="row flex  row-separator">
        <div class="game-column game-column1">
            <span>QB</span>
            <span>Podzuluzinski, J.</span>
            <span>12</span>
        </div>
        <div class="game-column game-column2">
            <span></span>
        </div>
        <div class="game-column game-column3">
            <span></span>
        </div>
        <div class="game-column game-column4">
            <span></span>
        </div>
        <div class="game-column game-column5">
            <span>point of attack</span>
        </div>
    </div>
    <div class="row flex  row-separator">
        <div class="game-column game-column1">
            <span>QB</span>
            <span>Podzuluzinski, J.</span>
            <span>12</span>
        </div>
        <div class="game-column game-column2">
            <span></span>
        </div>
        <div class="game-column game-column3">
            <span></span>
        </div>
        <div class="game-column game-column4">
            <span></span>
        </div>
        <div class="game-column game-column5">
            <span>point of attack</span>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid game-footer">
        <div class="btn-group" role="group" aria-label="Footer Menu">
            {{#menu-button action="gamePreviousPlay" }}◀ go back{{/menu-button}}
            {{#menu-button action="gamePauseGrading"   }}pause grading{{/menu-button}}
            {{#menu-button action="gameNotes" }}add notes{{/menu-button}}
            {{#menu-button action="gameNextPlay"   }}continue ►{{/menu-button}}
        </div>
    </div>
</nav>
{{!--
{{#header-button class='navbar-btn navbar-left' }}button 1{{/header-button}}
{{#header-button class='navbar-btn navbar-left' }}button 2{{/header-button}}
<div class="navbar-text">
    <span class="block-line1a">line1a</span>
    <span class="block-line2a">line2a</span>
    <span class="badge-left">badge left</span>
</div>
<div class="navbar-text">
    <span class="block-line1b">line1b</span>
    <span class="block-line2b">line2b</span>
    <span class="badge-left">badge left</span>
</div>
<div class="navbar-text">
    <span class="block-line1">line1</span>
    <span class="block-line2">line2</span>
    <span class="badge-left">badge l</span>
</div>
<div class="navbar-text">
    <span class="block-line1">line1</span>
    <span class="block-line2">line2</span>
    <span class="badge-right">badge r</span>
</div>
<div class="navbar-text">
    <span class="block-grid-header">grid header</span>
    <span class="badge-left">badge left</span>
</div>
<div class="navbar-text">
    <span>default text</span>
</div>
--}}

<!--div class="navbar xnavbar-inverse navbar-button-row">
    <div class="container-fluid block-grid-row block-color-header">
        <div class="block block-color-header">
            <span class="block-line1a">line1a</span>
            <span class="block-line2a">line2a</span>
            <span class="block-line2c">header color</span>
        </div>
        <div class="block pull-right block-grid-row-last">
            <span class="block-line1b">line1b</span>
            <span class="block-line2b">line2b</span>
            <span class="block-line2c">aligned left</span>
        </div>
        <div class="block block-active pull-right">
            <span class="block-line1">line1</span>
            <span class="block-line2">line2</span>
            <span class="block-line2c">active</span>
        </div>
        <div class="block pull-right">
            <span class="block-line1">line1</span>
            <span class="block-line2">line2</span>
            <span class="block-badge">badge</span>
        </div>
        <div class="block pull-right">
            <span class="block-grid-header">grid header</span>
            <span class="block-line2c">line2c</span>
        </div>
        <div class="block pull-right">
            <span>default text</span>
        </div>
    </div>
</div-->


