<!--suppress HtmlUnknownTarget -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid header-light">
        <div class="nav navbar-nav header-center-text" style="padding-top:10px;color:#fff;font-size:17px;">
            <p id="header_message_1center" class="text-center">{{message_1center}}</p>
        </div>
        <div class="navbar-header">
            {{#if linkTo}}
                {{#link-to linkTo classNames="navbar-brand"}}
                    <img alt="GoDeep Mobile" src="assets/img/logo.png">
                {{/link-to}}
            {{else}}
                {{#link-to 'dashboard' classNames="navbar-brand"}}
                    <img alt="GoDeep Mobile" src="assets/img/logo.png">
                {{/link-to}}
            {{/if}}
        </div>
        <div class="navbar-collapse collapse">
            <div class="nav navbar-nav pull-right">
                <span id="header_pagename" class="block-color-featuretext">{{pageName}}</span>
                {{#header-button class='navbar-hamburger' action="headerHamburgerMenu"}}
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                {{/header-button}}
            </div>
        </div>
    </div>
    <div class="container-fluid header-dark header-messages">
        <span id="header_message_2left">{{message_2left}}</span>
        <span id="header_message_2right" class="pull-right">{{message_2right}}</span>
    </div>
    <div {{bind-attr class=":header-hamburger-menu :btn-group-vertical hamburgerMenuVisible:visible"}} role="group" aria-label="hamburger menu">
        {{#menu-button class="btn-gd-menu-alt" action="appShowScreenTips" param=screenTipsHandle }}screen tips{{/menu-button}}
        {{#menu-button class="btn-gd-menu-alt" action="appSignOff" }}signoff{{/menu-button}}
    </div>
</nav>
