{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}
<div class="navbar xnavbar-inverse navbar-button-row">
    <div class="container-fluid block-grid-row block-color-header">
        <div class="pull-left ">
            {{#link-to 'dashboard' classNames="button-new block-grid-row-first"}}◀{{/link-to}}
        </div>
    </div>
</div>

{{! this page uses a button row in the navbar. modify container with navbar-button-row for proper button spacing}}
<div class='container-fluid container-button-row'>
    <div class="wrapper-leftnav">
        <div class="xcontent-main" >
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    {{#each controller}}
                        {{#link-to "player" this tagName="tr"}}
                            <td>{{#link-to "player" this}}{{shortNameInitialLast}}{{/link-to}}</td>
                            <td>#{{jerseyNumber}}</td>
                            <td>{{position}}</td>
                        {{/link-to}}
                    {{else}}
                        <tr>
                            <td>no players...</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
