{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}
<div class="navbar navbar-button-row" role="navigation">
    <div class="container-fluid block-color-header">
        {{#header-button class='navbar-btn btn-narrow navbar-left' action="goBack"}}◀︎{{/header-button}}
        <span class="navbar-text">{{team}} - {{season}}</span>
        <div class="pull-right" role="group" aria-label="Toolbar">
            {{#header-button action="playersAlphabetical" isActive=sortAlpha}}alphabetical{{/header-button}}
            {{#header-button action="playersNumerical" isActive=sortNumerical}}numerical{{/header-button}}
            {{#header-button action="playersGroupByPosition" isActive=sortPosition}}group by position{{/header-button}}
        </div>
    </div>
</div>

{{! this page uses a button row in the navbar. modify container with navbar-button-row for proper button spacing}}
<div class='container-fluid container-players'>
    <div class="row flex  row-separator">
        <div class="column header1">
            <span>Click player to see grades and reports</span>
        </div>
        <div class="column header2">
            <span>1st String</span>
        </div>
        <div class="column header3">
            <span>2nd String</span>
        </div>
        <div class="column header4">
            <span>3rd String</span>
        </div>
        <div class="column header5">
            <span>ST Pos</span>
        </div>
        <div class="column header6">
            <span>Inactive Flag</span>
        </div>
    </div>
    {{#each player in allPlayers}}
    <div class="row flex  row-separator">
        <div class="column column1" {{action 'playersShowPlayer' player}}>
            <span class="players-name">{{player.shortNameInitialLast}}</span>
            <span class="players-stats">6'4&nbsp;&nbsp;&nbsp;220&nbsp;&nbsp;85%&nbsp;&nbsp;(21)</span>
            <span class="players-jersey-number">{{player.jerseyNumber}}</span>
        </div>
        <div class="column column2">
            <span>{{player.position}}</span>
        </div>
        <div class="column column3">
            <span></span>
        </div>
        <div class="column column4">
            <span></span>
        </div>
        <div class="column column5">
            <span></span>
        </div>
        <div class="column column6">
            <span>add flag w reason</span>
        </div>
    </div>
    {{/each}}
</div>
